<!doctype html>
<html ng-app="WordcountApp">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

  <title>Wordcount</title>
</head>

<body ng-controller="WordcountController">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">
        <h1>Wordcount 3000</h1>
        <br>
        <form role="form" ng-submit="getResults()">
          <div class="form-group">
            <input type="text" name="url" class="form-control" id="url-box" placeholder="Enter URL..." ng-model="url"
              style="max-width: 300px;" required>
          </div>
          {% raw %}
          <button type="submit" class="btn btn-primary" ng-disabled="loading">{{ submitButtonText }}</button>
          {% endraw %}
        </form>
        <div class="alert alert-danger" role="alert" ng-show="urlerror">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <span>There was an error submitting your URL.<br>
          Please check to make sure it is valid before trying again.</span>
        </div>
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <h2>Frequencies</h2>
        <div id="results">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Word</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
              {% raw %}
              <tr ng-repeat="element in wordcounts">
                <td>{{ element[0] }}</td>
                <td>{{ element[1] }}</td>
              </tr>
              {% endraw %}
            </tbody>
          </table>
        </div>
        <img class="col-sm-3 col-sm-offset-4" src="{{ url_for('static', filename='spinner.gif') }}" ng-show="loading">
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>